*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
  font-size: 16px;
}

/* .app {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.blob1 {
  width: 15%;
  height: 15%;
  background-color: #fffad1;
  position: fixed;
  border-radius: 100% 0% 0% 100% / 0% 0% 100% 100%;
  top: 0;
  right: 0;
}

.blob2 {
  width: 15%;
  height: 15%;
  background-color: #deebf8;
  position: fixed;
  border-radius: 31% 69% 100% 0% / 9% 100% 0% 91%;
  bottom: 0;
  left: 0;
} */
